.jumbotron{
    margin-top: 10px;
    background: rgb(0, 62, 124);
    color: white;
}
p{background: rgb(142, 137, 137);}
footer{
    background: rgb(0, 62, 124);
    color: white;
    
}
.card-hotel{
    flex: 1, 150px;
    padding: 2px,5px,2px,5px;
}
.button-reserved{
    width: 100%;
}
.bg-black{
    background-color: black;
    color: white;
}
hr{color: white;}
.bg-red{
background:red;
color: white;
}
.bg-white{background:white;}
.icon{
    width: 1rem;
    height: 1rem;
}
.bg-image{
    background-image: url("../img/imagen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.orange{
    color: orange;
}
.img-carousel{
    height: 50vh;
    width: 100%;
}